<?xml version="1.0" encoding="UTF-8"?>
<!-- Файл настройки логгера для тестов -->
<Configuration status="INFO">
    <Appenders>

        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p] [%c{1}] %m%n"/>
        </Console>

    </Appenders>
    <Loggers>

        <Root level="ERROR">
            <AppenderRef ref="CONSOLE"/>
        </Root>

    </Loggers>
</Configuration>